:root{
    --primary-color: rgb(11,13,23);
    --primary-color-variant: rgb(208,214,249);
    --color-white: rgb(255,255,255);
}

body{
    background: url(./assets/destination/background-destination-desktop.jpg);
    background-size: cover;
}
.destination__container{
    display: flex;
}
.destinationleft__part{
    flex: 1;
    position: relative;

}
.destinationleft__top h1{
    z-index: -1;
}
.destinationleft__top{
    display: flex;
    align-items: center;
    color: var(--color-white);
    text-transform: uppercase;
    margin-top: 5rem;

}
.destinationleft__top span{

    color: var(--primary-color-variant);
    font-size: 20px;
    padding-right: 10px;
}
.destinationleft__part img{
    position: absolute;
    width: 60%;
    top: 11rem;
    left: 4rem;
    z-index: -1;
}



.destinationright__part{
    flex: 1;
    padding: 2rem;
}
.destinationright__part ul{
    display:flex;
    gap: 1rem;
    margin-top: 7rem;
    margin-bottom: 20px;
}
.destinationright__part ul li a{
    color: var(--color-white);
    text-transform: uppercase;

}
.destinationright__part h1{
    color: var(--color-white);
    font-size: 100px;
}
.destinationright__part p {
    color: var(--color-white);
    position: relative;
}
.destinationright__part p::after{
    position: absolute;
    width: 100%;
    content: '';
    height: 1px;
    background-color: grey;
    left: 0;
    bottom: -30px;

}
.timedistance__wrapper{
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    color: var(--color-white);
    text-transform: uppercase;
}










@media screen and (max-width:1024px) {
    body{
        background: url(./assets/destination/background-destination-tablet.jpg);
        background-size: cover;
    }
    .destination__container{
        flex-direction: column;

    }
    .destinationleft__part img{
        width: 50%;
        left: 50%;
        transform: translateX(-50%)
        
    }
    .destinationright__part{
        margin-top: 40vh;
        text-align: center;
    }
    .destinationright__part ul{
        margin-left: 2rem;
    }

    
}
@media screen and (max-width:600px) {
    body{
        background: url(./assets/destination/background-destination-mobile.jpg);
        background-size: cover;
    }
    .destinationleft__top h1{ 
        font-size: 20px;
    }

    
}